<?php
ob_start();
/*
به نام خدا
تیم برنامه نویسی دانو بات تقدیم میکند 
 ایدی کانال:@dano1396bot
برنامه نویسی شده توسط
@DIVANE2BOT
با تشکر فراوان از  
 MR.ARASHو  MR.Matin 
-------------
*/
$API_KEY = 'توکن'; // توکن بات خود را جایگزین کنید
define('API_KEY',$API_KEY);
function bot($method,$datas=[]){
    $url = "https://api.telegram.org/bot".API_KEY."/".$method;
    $ch = curl_init();
    curl_setopt($ch,CURLOPT_URL,$url);
    curl_setopt($ch,CURLOPT_RETURNTRANSFER,true);
    curl_setopt($ch,CURLOPT_POSTFIELDS,$datas);
    $res = curl_exec($ch);
    if(curl_error($ch)){
        var_dump(curl_error($ch));
    }else{
        return json_decode($res);
    }
}
 function sendmessage($chat_id, $text, $model){
 bot('sendMessage',[
 'chat_id'=>$chat_id,
 'text'=>$text,
 'parse_mode'=>$mode
 ]);
 }
 function sendphoto($chat_id, $photo, $captionl){
 bot('sendphoto',[
 'chat_id'=>$chat_id,
 'photo'=>$photo,
 'caption'=>$caption,
 ]);
 }
 function sendsticker($chat_id, $photo, $captionl){
 bot('sendsticker',[
 'chat_id'=>$chat_id,
 'sticker'=>$photo,
 'caption'=>$caption,
 ]);
 }
 function sendaudio($chat_id, $audio, $caption){
 bot('sendaudio',[
 'chat_id'=>$chat_id,
 'audio'=>$audio,
 'caption'=>$caption,
 ]);
 }
 function sendvoice($chat_id, $voice, $caption){
 bot('sendvoice',[
 'chat_id'=>$chat_id,
 'voice'=>$voice,
 'caption'=>$caption,
 ]);
 }

 function sendaction($chat_id, $action){
 bot('sendchataction',[
 'chat_id'=>$chat_id,
 'action'=>$action
 ]);
 }
	
	function save($filename,$TXTdata)
	{
	$myfile = fopen("data/".$filename, "w") or die("Unable to open file!");
	fwrite($myfile, "$TXTdata");
	fclose($myfile);
	}
//====================متغییر های ما======================//
$update = json_decode(file_get_contents('php://input'));
var_dump($update);
$message = $update->message;
$chatid = $update->callback_query->message->chat->id;
$chat_id = $message->chat->id;
$from_id = $message->from->id;
$chat_id = $message->chat->id;
$messageid = $update->callback_query->message->message_id;
$text = $message->text;
$name = $update->message->from->first_name;
$bcpv = file_get_contents("bcpv.txt");
$user = $update->message->from->username;
$chatid = $update->callback_query->message->chat->id;
$fromid = $update->callback_query->from->id;
$cllchatid = $update->callback_query->message->chat->id;
$data = $update->callback_query->data;
$cllmsegid = $update->callback_query->message->message_id;
$cllfor = $update->callback_query->from->id;
$forchaneel = json_decode(file_get_contents("https://api.telegram.org/botتوکن/getChatMember?chat_id=@کانال&user_id=".$from_id)); // ایدی کانالتون و توکن بات وارد کنید
$tch = $forchaneel->result->status;
$type = $update->message->chat->type;
//====================شروع برنامه نویسی======================//
if (strpos($banall , "$from_id") !== false) {
  }
  elseif (strpos($block , "$from_id") !== false) {
  }
  elseif ($from_id != $chat_id and $chat_id != $feed) {
  }
  elseif (strpos($banall , "$from_id") !== false  ) {
  SendMessage($chat_id,"
دسترسی شما به این سرور مسدود شده است.❌
لطفا با پشتیبانی در ارتباط باشید
➖➖➖➖➖➖➖➖
@Divane2Bot");
  }
  elseif($tch != 'member' && $tch != 'creator' && $tch != 'administrator'){
SendMessage($chat_id,"⭐️به ربات  تلویزیون تلگزام خوش امدید ⭐️

شما از طریق این ربات میتوانید به راحتی از طریق تلگرام تلویزیون نگاه کنید❤😍
➖➖➖➖
برا حمایت از اسپانسر ربات و بهرمند شدن از امکانات فوق العاده ابتدا در کانال زیر عضو شوید😉

🔸 @Dano1396bot 🔹

سپس به ربات برگشته🔙

🔹/start🔸   

را دوباره ارسال کنید✔️
🎯تا از مزایای خوب ربات بهرمند شوید

با احترام😊","html","true",$button_remove);
  }
elseif($text == "/start" ){
$user = file_get_contents('Member.txt');
    $members = explode("\n",$user);
    if (!in_array($chat_id,$members)){
      $add_user = file_get_contents('Member.txt');
      $add_user .= $chat_id."\n";
     file_put_contents('Member.txt',$add_user);
    }
        bot('sendmessage', [
                'chat_id' => $chat_id,
                'text' =>"به ربات تلوزیون تلگرام خوش آمدید عضویت شما رو تبریک میگوییم \n کانال ما🆔 : @Dano13996bot", // چنل را وارد کنید
                 'parse_mode'=>'html',
   'reply_markup'=>json_encode([
      'inline_keyboard'=>[
			  [
		['text'=>"🖥تماشای تلویزیون",'callback_data'=>"more"]
	  ],
			   [
    ['text'=>"📢 کانال ما", 'url'=>"https://telegram.me/Dano1396bot"]
    ]
			  ],'resize_keyboard'=>true
       		])
    		]);
}
if($data == 'more'){
  	bot('editmessagetext',[
        'chat_id'=>$cllchatid,
	'message_id'=>$cllmsegid,
    'text'=>"نوع شبکه یا کانالتو انتخاب کن تا نشون بدم برات", 
    'parse_mode'=>'html',
   'reply_markup'=>json_encode([
      'inline_keyboard'=>[
[
		['text'=>"شبکه های استانی",'callback_data'=>"ostan"]
	  ],
	  [
		['text'=>"شبکه های ماهواره",'callback_data'=>"mahvare"]
	  ],
		]
		])
  ]);
}
if($data == 'ostan'){ 
	bot('editmessagetext',[
       'chat_id'=>$chatid,
       'message_id'=>$messageid,
        'text'=>"شبکه مورد نظرتو انتخاب کن تا نشون بدم برات",
        'parse_mode'=>"html",
        'reply_markup'=>json_encode([
            'inline_keyboard'=>[
              [['text'=>"شبکه یک ",'url'=>"http://www3.live.irib.ir/?channel=tv1"]],
			  [['text'=>"شبکه دو",'url'=>"http://www.tv2.ir/html/item/3"]],
			  [['text'=>"شبکه سه",'url'=>"http://tv3.ir/live"]],
			  [['text'=>"شبکه چهار",'url'=>"http://www3.live.irib.ir/?channel=tv4"]],
			  [['text'=>"شبکه پنج",'url'=>"http://www.telewebion.com/live/tehran"]],
			  [['text'=>"شبکه خبر",'url'=>"http://www3.live.irib.ir/?channel=irinn"]],
			  [['text'=>"شبکه نسیم",'url'=>"http://www.telewebion.com/live/nasim"]],
			  [['text'=>"شبکه ورزش",'url'=>"http://www.telewebion.com/live/varzesh"]],
			  [['text'=>"شبکه ifilm",'url'=>"http://www.telewebion.com/live/ifilm"]],
			  [['text'=>"شبکه مستند",'url'=>"http://www.telewebion.com/live/mostanad"]],
			  [['text'=>"شبکه نمایش",'url'=>"http://www.telewebion.com/live/namayesh"]],
			  [['text'=>"شبکه تماشا",'url'=>"http://www.telewebion.com/live/hdtest"]],
			  [['text'=>"شبکه امید",'url'=>"http://www.telewebion.com/live/omid"]],
			  [['text'=>"🔙بازگشت️",'callback_data'=>"more"]],
              ],'resize_keyboard'=>true
        ])
            ]);
}
if($data == 'mahvare'){ 
	bot('editmessagetext',[
       'chat_id'=>$chatid,
       'message_id'=>$messageid,
        'text'=>"شبکه مورد نظرتو انتخاب کن تا نشون بدم برات",
        'parse_mode'=>"html",
        'reply_markup'=>json_encode([
            'inline_keyboard'=>[
              [['text'=>"شبکه bbc ",'url'=>"http://www.bbc.com/persian/tvandradio/2013/08/000001_bbcpersian_livetv"]],
			  [['text'=>"شبکه pmc",'url'=>"http://tvmanoto.com/pmc/"]],
			  [['text'=>"شبکه manoto",'url'=>"http://tvmanoto.com/manototv/comment-page-2/"]], 
			  [['text'=>"شبکه gemtv",'url'=>"http://tvmanoto.com/gem-tv/"]],
			  [['text'=>"شبکه gemseries",'url'=>"http://tvmanoto.com/gem-series/"]],
			  [['text'=>"🔙بازگشت️",'callback_data'=>"more"]],
              ],'resize_keyboard'=>true
        ])
            ]);
}
?>
